.categories {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  padding: 200px 20px 120px 20px;

  @include breakpoint($tablet) {
    gap: 10px;
    padding: 150px 20px 95px 20px;
  }

  @include breakpoint($mobile) {
    flex-direction: column;
    gap: 70px;
    padding: 70px 24px 30px 24px;
  }
}

.categories__card {
  position: relative;
  background-color: $dirty-white;
  width: 350px;
  height: 204px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;

  &:hover > .categories__link {
    color: $dark-orange;
  }

  @include breakpoint($tablet) {
    width: 223px;
    height: 165px;
  }
}

.categories__img {
  position: absolute;
  transform: translate(-50%, -32%);
  left: 50%;
  height: 200px;

  @include breakpoint($tablet) {
    height: 144px;
  }
}

.categories__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 1.3px;
  color: $black;
  padding-top: 116px;
  margin-bottom: 15px;

  @include breakpoint($tablet) {
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 1.1px;
    padding-top: 88px;
    margin-bottom: 17px;
  }
}

.categories__link {
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
  text-align: left;
  color: rgba($color: $black, $alpha: 0.5);
  display: flex;
  align-items: center;
  gap: 13px;
  transition: $hover-transition;
}
