.earphones-yx1 {
  padding: 0 20px;
}

.earphones-yx1__container {
  width: clamp(200px, 100%, 1110px);
  margin: 0 auto;
  display: flex;
  gap: 30px;
}

.earphones-yx1__img {
  background-image: url("../../assets/home/desktop/image-earphones-yx1.jpg");
  background-position: center;
  background-size: cover;
  width: clamp(200px, 50%, 540px);
  height: 320px;
  border-radius: 8px;
}

.earphones-yx1__card {
  background-color: $dirty-white;
  width: clamp(200px, 50%, 540px);
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 100px 0 0 95px;
  border-radius: 8px;
}

.earphones-yx1__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 2px;
  color: $black;
}
