.speaker-zx7 {
  padding: 0 20px;
  margin-bottom: 50px;

  @include breakpoint($tablet) {
    padding: 0 40px;
    margin-bottom: 32px;
  }

  @include breakpoint($mobile) {
    padding: 0 24px;
    margin-bottom: 24px;
  }
}

.speaker-zx7__container {
  background-image: url("../../assets/home/desktop/image-speaker-zx7.jpg");
  background-position: center;
  background-size: cover;
  width: clamp(200px, 100%, 1110px);
  min-height: 320px;
  margin: 0 auto;
  border-radius: 8px;

  @include breakpoint($tablet) {
    background-image: url("../../assets/home/tablet/image-speaker-zx7.jpg");
  }

  @include breakpoint($tablet) {
    background-image: url("../../assets/home/mobile/image-speaker-zx7.jpg");
  }
}

.speaker-zx7__card {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 100px 0 0 95px;

  @include breakpoint($tablet) {
    padding: 100px 0 0 62px;
  }

  @include breakpoint($mobile) {
    padding: 100px 0 0 24px;
  }
}

.speaker-zx7__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 2px;
  color: $black;
}
