.speaker-zx9 {
  padding: 50px 20px 0 20px;
  margin-bottom: 50px;

  @include breakpoint($tablet) {
    padding: 0 40px;
    margin-bottom: 32px;
  }

  @include breakpoint($mobile) {
    padding: 90px 24px 0 24px;
    margin-bottom: 24px;
  }
}

.speaker-zx9__container {
  width: clamp(200px, 100%, 1110px);
  min-height: 560px;
  background-color: $dark-orange;
  border-radius: 8px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;

  @include breakpoint($tablet) {
    min-height: 720px;
  }

  @include breakpoint($mobile) {
    min-height: 600px;
  }
}

.speaker-zx9__circles-icon {
  position: absolute;
  transform: translate(-120px, -20px);

  @include breakpoint($tablet) {
    transform: translate(-50%, -35%);
    left: 50%;
  }

  @include breakpoint($mobile) {
    scale: 0.6;
    transform: translate(-83%, -56%);
  }
}

.speaker-zx9__box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 55px;
  z-index: 1;

  @include breakpoint($tablet) {
    flex-direction: column;
    gap: 64px;
  }

  @include breakpoint($mobile) {
    flex-direction: column;
    gap: 55px;
  }
}

.speaker-zx9__img {
  height: 493px;
  position: relative;
  top: 80px;

  @include breakpoint($tablet) {
    height: 237px;
    position: static;
    padding-top: 52px;
  }

  @include breakpoint($mobile) {
    padding-top: 55px;
  }
}

.speaker-zx9__card {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 80px;
  top: 25px;

  @include breakpoint($tablet) {
    position: static;
    text-align: center;
    align-items: center;
  }

  @include breakpoint($mobile) {
    max-width: 280px;
  }
}

.speaker-zx9__title {
  font-size: 56px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 2px;
  margin-bottom: 24px;
  max-width: 261px;

  @include breakpoint($mobile) {
    font-size: 38px;
    line-height: 40px;
    letter-spacing: 1.3px;
  }
}

.speaker-zx9__description {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  opacity: 0.75;
  margin-bottom: 40px;
  max-width: 349px;

  @include breakpoint($mobile) {
    margin-bottom: 24px;
  }
}
