%button {
  font-family: $manrope-family;
  background-color: transparent;
  border: none;
  outline: none;
  transition: $hover-transition;
  text-decoration: none;
  cursor: pointer;
}

.btn {
  @extend %button;
}

%big-button {
  @extend %button;
  width: 160px;
  height: 48px;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
  padding: 15px 30px;
  white-space: nowrap;
}

.primary-button {
  @extend %big-button;
  background-color: $dark-orange;
  color: $white;

  &:hover {
    background-color: $light-orange;
  }
}

.secondary-button {
  @extend %big-button;
  color: $black;
  border: 1px solid $black;

  &:hover {
    background-color: $black;
    color: $white;
  }
}

.black-button {
  @extend %big-button;
  background-color: $black;
  color: $white;

  &:hover {
    background-color: #4c4c4c;
  }
}

.back-button {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  color: rgba($color: $black, $alpha: 0.5);
  position: absolute;
  top: 80px;

  &:hover {
    color: rgba($color: $black, $alpha: 1);
  }

  @include breakpoint($tablet) {
    top: 33px;
  }

  @include breakpoint($tablet) {
    top: 16px;
  }
}
