// Colors
$black: #000;
$white: #fff;
$gray: #cfcfcf;
$dark-orange: #d87d4a;
$light-orange: #fbaf85;
$dirty-white: #f1f1f1;
$lightish-black: #101010;

// Fonts
$manrope-family: "Manrope", sans-serif;

// Breakpoints
$tablet: 1199px;
$mobile: 767px;

// Transition
$hover-transition: 0.2s;
